<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.beyond.TiO">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.main.beyond.TiO.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.main.beyond.TiO.RegisterActivity" />
        <activity android:name="com.main.beyond.TiO.LoginActivity" />
        <activity android:name="com.main.beyond.TiO.SetupActivity" />
        <activity android:name="com.main.beyond.TiO.PostActivity" />
        <activity android:name="com.main.beyond.TiO.ClickPostActivity" />
        <activity android:name="com.main.beyond.TiO.CommentsActivity" />
        <activity
            android:name="com.main.beyond.TiO.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppTheme" />
        <activity android:name="com.main.beyond.TiO.ChatActivity" />
    </application>

</manifest>